@model Actor
<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden/>
    <div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Lastname"></label>
            <input asp-for="Lastname" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="BirthDate"></label>
            <input asp-for="BirthDate" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Rating"></label>
            <input asp-for="Rating" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Portrait"></label>
            <input asp-for="Portrait" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Actors" asp-action="Index" class="btn btn-secondary" style="width:150px">Back</a>
    </div>
</form>